<?xml version="1.0" encoding="utf-8" ?> 

<Fairplay2>	
	<!--  The circuit file to compute -->
	<Circuit>SecondPriceAuction-compiled.sfdl</Circuit>

	<!-- List of IP's of the computers involved in the computation. -->
	<Participates>
		<!-- List of players (IP or RP) -->
		<Players>
			<Player NameInFunction="bidder[0]">132.65.34.101</Player>
			<Player NameInFunction="bidder[1]">132.65.34.102</Player>
			<Player NameInFunction="bidder[2]">132.65.34.103</Player>
			<Player NameInFunction="bidder[3]">132.65.34.104</Player>
			<Player NameInFunction="seller">132.65.34.105</Player>
		</Players>
		<!-- List of IP of the CP -->
		<ComputationPlayers>
			132.65.34.101,132.65.34.102,132.65.34.103,132.65.34.104,132.65.34.105
		</ComputationPlayers>
	</Participates>
	
	<Security>
		<Port>
			12347
		</Port>
		<!-- The security parameter to use -->
		<K>
			64
		</K>
		<!-- The prime number to use as modulo, modulo % 4 should be equal 3 -->		
		<Modulo>
			7687059820659762734436400120132358914012559163114450743465187757540858281651290901893442630998953		
		</Modulo>
		<!-- The protocol to use for the Pseudo Random Generator -->
		<PRGProtocol>
			SHA1PRNG
		</PRGProtocol>
		<!-- The certificates to use for the SSL connection -->	
		<Certificate>
			<keyStore>
				certificate/ks
			</keyStore>
			<keyStorePassword>
				123456
			</keyStorePassword>
			<trustStore>
				certificate/ts
			</trustStore>
			<trustStorePassword>
				123456
			</trustStorePassword>
		</Certificate>
	</Security>
</Fairplay2>
